input{
      height:20px;
      width:20px;
      vertical-align: middle;
}
.big_text{
      font-size: 20px;
}
#result_four{
      color:black;
      font-size: 12;
}
#resultfour{
      color:black;
      font-size: 12;
}
.img{
      border-radius:50%;
}